<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <h1>Ciao <%= admin.name %></h1>
    <a href="/admin/courses">Gestisci corsi sulla sicurezza</a>
    <a href="/admin/professional-courses">Gestisci corsi professionalizzanti</a>
    <li><a href="/admin/requests">Richieste Info</a></li>
    <a href="/admin/logout">Logout</a>
</body>
</html>