<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nuovo Corso</h1>
        <form action="/admin/courses/create-courses" method="POST" enctype="multipart/form-data">
        <label>Titolo</label>
        <input type="text" name="title" required />

        <label>Descrizione</label>
        <textarea name="description" required></textarea>

        <label>Prezzo (€)</label>
        <input type="number" step="0.01" name="price" required />

        <label>Durata</label>
        <input type="text" name="duration" placeholder="es: 8 ore" />

        <label>Modalità</label>
        <select name="modality" required>
            <option value="online">Online</option>
            <option value="in presenza">In presenza</option>
            <option value="blended">Blended</option>
        </select>

        <label>Luogo (se in presenza)</label>
        <input type="text" name="location" placeholder="es: sede MGL - Lavello" />

        <label>Categorie</label>
        <select name="category" required>
            <option value="Formazione generale e specifica lavoratori">Formazione generale e specifica lavoratori</option>
            <option value="Antincendio">Antincendio</option>
            <option value="Primo soccorso">Primo soccorso</option>
            <option value="HACCP e igiene alimentare">HACCP e igiene alimentare</option>
            <option value="Attrezzature da lavoro (Accordo Stato-Regioni 2012)">Attrezzature da lavoro (Accordo Stato-Regioni 2012)</option>
            <option value="Lavori in quota e DPI">Lavori in quota e DPI</option>
            <option value="Aggiornamento obbligatorio">Aggiornamento obbligatorio</option>
        </select>

        <label>Sottocategorie (separate da virgola)</label>
        <input type="text" name="subCategory" placeholder="es: Sicurezza, HACCP" />

        <label>Immagine</label>
        <input type="file" name="image" accept="image/*" />

        <button type="submit">Salva</button>
    </form>

</body>
</html>