<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Elenco corsi</h2>
    <a href="/admin/courses/create-courses">Aggiungi nuovo corso</a>
    <ul>
    <% courses.forEach(course => { %>
        <li><%= course.title %> - €<%= course.price %></li>
    <% }) %>
    </ul>
</body>
</html>