<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/head.ejs') %>
</head>
<body>
    Ciao effettua il login 
    <a class="test" href="/admin/login">Effettua il login</a>
</body>
</html>